
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

header {
    grid-row: span 2;
}

.title {
    position: absolute;
    top: 40%;
    left: calc(25% - 100px);
    z-index: 1;
    width: 200px;
    text-align: center;
}


.bg-img {
    position: relative;
    top: 0;
    height: 100%;
    object-fit: cover;
}

main {
    width: 50vw;
}

