@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;500;700&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fddafd;
    color: #6452a2;
    font-family: 'Mitr', sans-serif;
}

header {
    grid-row: span 2;
}

.title {
    position: relative;
    top: 30%;
    left: calc(-49% - 90px);
    z-index: 1;
    width: 160px;
    padding: 20px;
    text-align: center;
    background-color: #fddafd;
    outline: 5px solid hsla(0, 0%, 100%, 1);
    outline-offset: -2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 10px hsla(0, 0%, 100%, 1);
    text-shadow: 2px 2px hsla(0, 0%, 100%, 1);
}

@media screen and (max-width: 1200px) {
    .title {
        all:unset;
        position: relative;
        font-size: 42px;
        font-weight: 900;
        margin: 20px 30px 0px 30px;
        text-shadow: 2px 2px hsla(0, 0%, 100%, 1);
    }

    .img-credit {
        width: 180px;
    }
}

.bg-img {
    position: relative;
    min-height: 100%;
    object-fit: cover;
}

.img-credit {
    position: fixed;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    text-align: center;
    font-size: 14px;
}

.img-credit a {
    text-decoration: underline;
    color: white;
}

.img-credit a:hover {
    color: #609ee0;
}


/* MAIN SECTION */

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 99;
}

.info {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 30px;
    font-size: 1.2rem;
}

.info p {
    padding: 10px;
}

.form-body {
    padding: 30px;
}

.form-fieldset {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    border: 0 solid #f09dcb;
    border-radius: 20px;
    min-width: 550px;
    max-width: 600px;
    gap: 1rem;
    padding: 20px;
    background-color: #ffadda;
    box-shadow: 0 0 10px 10px hsla(0, 0%, 100%, 0.5);
}

legend {
    position: relative;
    float: left;
    top: 5px;
    width: 100%;
    margin: 0 15px;
    font-size: 1.6rem;
    font-weight: 900;
    color: #6452a2;
}

.flower-container {
    text-align: end;
}

.flower {
    background-color: white;
    font-size: 32px;
    padding: 5px 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px 6px hsla(0, 0%, 100%, 0.5);
}

form input {
    width: 100%;
    font-size: 0.9em;
    border: 0 solid white;
    border-radius: 6px;
    background-color: white;
    padding: 0.6em 1em;
    color: gray;
}

form input:focus {
    outline: 3px solid #f96cd6;
}

form input::placeholder {
    color: black;
    }

form input:invalid {
    color: red;
    }

form button {
    margin: 30px 20px 5px;
    padding: 10px 20px;
    background-color: #47e2d5;
    border: 3px solid #3ecec2;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    color: #6452a2;
    box-shadow: 0 0 15px 10px hsla(0, 0%, 100%, 0.8);
}

form button:hover {
    border: 3px solid #f96cd6;
    color: #f96cd6;
}

.button-p {
    margin-left: 25px;
}

.button-p a {
    color: #f09dcb;
}

.button-p a:hover {
    color: #f96cd6;
}

@media screen and (max-width: 1200px) {
    .info {
        padding: 10px 30px;
    }

    .form-body {
        padding: 10px 20px;
    }
}


@media screen and (max-width: 800px) {
    header {
        display: none;
    }

    body {
        text-align: center;
    }

    main {
        width: 100vw;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .form-fieldset {
        grid-template-columns: 1fr;
        min-width: auto;
    }
    
    .flower-container {
        display: none;
    }
}



/* FOOTER */

footer {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2rem;
}

footer p {
    padding: 20px;
}

.footer-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 2px 2px hsla(0, 0%, 100%, 1);
}

.footer-link:hover {
    color: #f96cd6;
}