@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;500;700&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: #fddafd;
    color: #6452a2;
    font-family: 'Mitr', sans-serif;}

header {
    grid-row: span 2;
}

.title {
    position: absolute;
    top: 40%;
    left: calc(25% - 100px);
    z-index: 1;
    width: 200px;
    text-align: center;
    background-color: white;
    border: 1px solid pink;
    border-radius: 20px;
}


.bg-img {
    position: relative;
    height: 100%;
    object-fit: cover;
}

.img-credit {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    font-size: 14px;
}

.img-credit a {
    text-decoration: underline;
    color: white;
}

.img-credit a:hover {
    color: #609ee0;
}

/* MAIN SECTION */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 40px;
    font-size: 1.2rem;
}

.info p {
    padding: 10px;
}

.form-body {
    padding: 30px;
}

.form-fieldset {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    border: 0;
    border-radius: 20px;
    max-width: 600px;
    gap: 1rem;
    padding: 20px;
    background-color: #ffadda;
    box-shadow: 0 0 10px 10px hsla(0, 0%, 100%, 0.5);
}

legend {
    position: relative;
    float: left;
    top: 5px;
    width: 100%;
    margin: 0 15px;
    font-size: 1.6rem;
    font-weight: 900;
    color: #6452a2;
}

.flower-container {
    text-align: end;
}

.flower {
    background-color: white;
    font-size: 32px;
    padding: 5px 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px 6px hsla(0, 0%, 100%, 0.5);
}

form input {
    width: 100%;
    font-size: 0.9em;
    border: 0 solid white;
    border-radius: 6px;
    background-color: white;
    padding: 0.6em 1em;
    color: gray;
}

form input:focus {
    outline: 3px solid #f96cd6;
}

form input::placeholder {
    color: black;
    }

form input:invalid {
    color: red;
    }

form button {
    margin: 30px 20px 5px;
    padding: 10px 20px;
    background-color: #aff1ec;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    color: #6452a2;
    box-shadow: 0 0 15px 10px hsla(0, 0%, 100%, 0.8);
}

form button:hover {
    transform: scale(1.05);
    outline: 3px solid #f96cd6;
    outline-offset: -2px;
}

.button-p {
    margin-left: 25px;
}

/* FOOTER */

footer {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2rem;
}

footer p {
    padding: 20px;
}

.footer-link {
    text-decoration: none;
}


/* Colours from image
#e87290 - Arch light pink
#9b2f55 - Arch dark pink
#7f5fa9 - Mountain purple 
#fa92e9 - Bush light pink
#f96cd6 - Bush dark pink
#62a0e2 - Dress dark blue
#b6c2ed - Dress light blue
*/